# Python Backend Exclusions
server/virtualenv1/
server/.venv/ # Add this too, just in case
server/venv/  # Add this too, just in case
*.pyc
__pycache__/
.env
.flaskenv
*.sqlite3 # If you have a SQLite database file

# Node.js Frontend Exclusions
client/node_modules/
client/dist/ # For Vite build output
client/build/ # For Create React App build output
client/npm-debug.log*

# Operating System Files
.DS_Store
Thumbs.db